
/*********************************
****************INDEX*************
**********************************
    1. Font link
    2. Common css
         (button, margin, paddingh)
    3. list group item part
    4. product item
     
*********************************/
/*font*/
h1, h2, h3, p, a{
  font-family: 'Hind Siliguri', sans-serif;
}

/********common css*********/
*{
  margin: 0 auto;
  padding: 0px;
}

.btn {
    background: #2ecc71;
  }

 /*******list group item of left side********/
.list-group-item{
	border: none;
}

.list-group{
   display: block;
}

.list-group li a{
	color: #000;
	text-decoration: none;
	font-weight: 600;
}
 
ul .active{
      background-color: #FDD700 !important;
      border-left: 1px solid black;
}

@media screen and (max-width: 767px){
     h1, h2{
     	font-size: 30px;
     }   
     button{
     	font-size: 15px;
     }	
}

ul li ul li{
	padding: 7px;
	text-align: center;
	/*line-height: 4px;*/
}

/***************** product area******************** */
 

.main_title h2 {
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 50px;
    text-transform: uppercase;
}      

.feature_item {
  padding: 45px 25px;
  text-align: center;
  background: #f9f9fd;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  .feature_item img {
    margin-bottom: 35px; }
  .feature_item h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .feature_item p {
    margin-bottom: 0px; 
  }

/*******product item hover************/
  .feature_item:hover {
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    background: #FDD700; 
  }










